root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.py]
charset = utf-8
indent_style = space
indent_size = 4
tab_width = 4
max_line_length = 79
[*.pyi]
charset = utf-8
indent_style = space
indent_size = 4

[*.{md,markdown}]
charset = utf-8
trim_trailing_whitespace = false

[*.sh]
end_of_line = lf

[Makefile]
indent_style = tab

